<app-discount-type-feed *ngIf="showHoliday" [actions]="holidayActions" actionType="Праздничная акция"></app-discount-type-feed>
<app-discount-type-feed *ngIf="showSubCategory" [actions]="subCategoryActions" actionType="Акция подкатегории"></app-discount-type-feed>
<app-discount-type-feed *ngIf="showBrand" [actions]="brandActions" actionType="Акция бренда"></app-discount-type-feed>
<app-discount-type-feed *ngIf="showDouble" [actions]="doubleActions" actionType="Акция 1 + 1"></app-discount-type-feed>