/* .navigation-container {
    position: fixed;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/
a {
    margin-left: 5px;
    margin-right: 5px;
}

nav {
    box-sizing: fit-content;
    box-sizing: fit-content;
}

.container {
    position: fixed;
    padding-top: 0;
}
