<div class="wrapper">
    <div class="column">
        <img src={{product.product.image_link}} (click)="onImageClick()">
    </div>
    <div class="column">
        <p class="smaller-font">{{product.product.name}}</p>
        <p>{{product.product.rating}}⭐</p>
        <p class="smaller-font">Осталось: {{product.product.amount}}</p>
    </div>
    <div class="column">
        <p>{{product.product.price | currency:'RUB':'symbol-narrow'}}</p>
    </div>
    <div class="column">
        <p>Сумма:</p>
        <p>{{fullPrice | currency:'RUB':'symbol-narrow'}}</p>
    </div>
    <div class="column">
        <div class="horiz">
            <button class="count" (click)="onMinusClick()" *ngIf="changeAmount">-</button>
            <input type="text" [(ngModel)]="product.count" class="amount" readonly>
            <button class="count" (click)="onPlusClick()" *ngIf="changeAmount">+</button>
        </div>
        <div *ngIf="showDeleteProduct">
            <p class="smaller-font">Удалить товар из корзины?</p>
            <button class="smaller-btn" (click)="onDeleteClick()">Да</button>
        </div>
    </div>
</div>