.sidebar {
    position: fixed;
    left: 0;
    width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: #153915;
    height: 94vh;
}

aside {
    padding-left: 1vw;
}

li {
    padding-top: 1vh;
    padding-bottom: 3vh;
}

a {
    color: #d3d3d3;
}

a:hover {
    color: #8d8c8c;
}