.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 20vh;
}

.form-parent {
    width: 80vw;
}

.form-type-btn {
    width: 20vw;
}

.submit {
    width: 30vw;
}