.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1vw;
    row-gap: 1vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}