.item {
    min-height: fit-content;
    min-width: fit-content;
    height: 10vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232823;
}

p {
    font-size: medium;
}