.item {
    min-height: fit-content;
    min-width: fit-content;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--contrast-focus);
    padding-left: 1vh;
    padding-top: 2vh;
}

p {
    font-size: medium;
}