.wrapper {
    padding-bottom: 30vh;
    width: 100%;
}

.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bigger-font {
    font-size: larger;
}

.mid-font {
    font-size: medium;
}