.wrapper {
    display: grid;
    background-color: var(--card-background-color);
    width: 100%;
    grid-auto-columns: 19vw;
    grid-auto-flow: column;
    column-gap: 0.5vw;
    row-gap: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
}