.wrapper {
    padding-bottom: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigger-font {
    font-size: larger;
}

button {
    width: fit-content;
}

.info-field {
    display: flex;
    width: 50vw;
    flex-direction: row;
    justify-content: space-around;
}