<div class="main-wrapper">
    <app-navigation></app-navigation>
    <app-footer></app-footer>
    <app-sidebar></app-sidebar>
    
    <app-edit-text-item-card 
    title={{card_title}} 
    content={{card_content}} 
    (editSaveClick)="onEditSaveClick($event)"
    (deleteClick)="onDeleteClick()"
    ><div *ngIf="isInput"><input type="text" placeholder="Редактировать"></div>
        <div *ngIf="!isInput">Текст</div>
    </app-edit-text-item-card>
    
    <app-product-container>
        <app-product-card 
            product_name="Ноутбук" 
            product_price="12345р" 
            product_rate="10"
            image_link="https://sun9-20.userapi.com/impg/TDbMSmoW-BXbGm481df_vI44ZIyN4RfMHx9R2g/vkw9n5BD5y4.jpg?size=576x576&quality=96&sign=047330f3b71d1ae59fcee502d5ca4295&type=album"></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        
    </app-product-container>

    <app-discounts-feed actionType="Акции котеночей">
        <app-discounts-feed-item dateStart="April 1, 2023" dateEnd="April 3, 2023" image="https://sun9-26.userapi.com/impg/sh_KV52SB_saspp28sK_DWuixpAAbR6TTeXeDw/7X0w8KAGy8o.jpg?size=1280x576&quality=95&sign=03766b79a749e78e7e18e22cce4c5bb3&type=album"></app-discounts-feed-item>
        <app-discounts-feed-item></app-discounts-feed-item>
        <app-discounts-feed-item></app-discounts-feed-item>
        <app-discounts-feed-item></app-discounts-feed-item>
        <app-discounts-feed-item></app-discounts-feed-item>
        <app-discounts-feed-item></app-discounts-feed-item>
        <app-discounts-feed-item></app-discounts-feed-item>
        <app-discounts-feed-item></app-discounts-feed-item>

    </app-discounts-feed>
    <p>Заглушк</p>
    <router-outlet></router-outlet>
</div>