<div class="main-wrapper">
    <app-navigation></app-navigation>
    <app-footer></app-footer>
    <app-sidebar></app-sidebar>
    <app-edit-text-item-card title={{card_title}} content={{card_content}}></app-edit-text-item-card>
    <app-edit-text-item-card title={{card_title}} content={{card_content}}></app-edit-text-item-card>
    <app-edit-text-item-card title={{card_title}} content={{card_content}}></app-edit-text-item-card>
    <app-edit-text-item-card title={{card_title}} content={{card_content}}></app-edit-text-item-card>
    <p>Заглушк</p>
    <router-outlet></router-outlet>
</div>